#---------------------------------Backend---------------------------------------
NODE_ENV=development
FRONTEND_URL='http://localhost'
# JWT_SECRET     ---------    backend/bin/JWT_SECRET_GENERATOR.sh
JWT_SECRET=0ff3efd12ef9cfbe0407105d26c43c1aa5d8833335b15eeae7f4e58d39ac6e00
JWT_EXPIRES_IN=60m

#-----------------------PostgreSQL Database Connection--------------------------
# FORCE_SEED=true
# FORCE_RESET=true
DB_HOST=database
DB_PORT=5432
DB_USERNAME=antislop_user
DB_PASSWORD=antislop_password
DB_NAME=antislop_db
DB_SSL=true

#----------------------Email Service (SMTP)-------------------------------------
EMAIL_HOST=maildev
EMAIL_PORT=1025
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="ANTISLOP<noreply@antislop.com>"
EMAIL_SUPPORT='support@antislop.com'

